<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/classupplier/0.7.6"
            class="org.classupplier.ClassSupplierPackage"
            genModel="model/ClassSupplier.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ClassSupplier -->
      <parser
            type="classupplier"
            class="org.classupplier.util.ClassSupplierResourceFactoryImpl"/>
   </extension>
   <extension
         id="userDomainNature"
         name="User Domain Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.classupplier.impl.UserDomainProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="resourceBuilder"
         name="Model Resource Persistence"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.ResourceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="materializer"
         name="Materializer"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.MaterialisingBuilder">
         </run></builder>
   </extension>
</plugin>
