<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/classupplier/0.7.6"
            class="org.classupplier.ClassSupplierPackage"
            genModel="model/ClassSupplier.genmodel"/>
   </extension>
   <extension
         id="userDomainNature"
         name="User Domain Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.classupplier.impl.UserDomainProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="resourceBuilder"
         name="Model Resource Persistence"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.ResourceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="generatorBuilder"
         name="Code Generator"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.GeneratorBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="exportBuilder"
         name="Plug-in Export Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.ExportingBuilder">
         </run></builder>
   </extension>
   <extension
         id="loadBuilder"
         name="Bundle Loader"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.builders.LoadBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.classupplier.ClassSupplier"
            class="org.classupplier.query.ClassSupplierAdapterFactory">
         <adapter
               type="org.eclipse.emf.query.conditions.eobjects.IEObjectSource">
         </adapter>
      </factory>
   </extension>
</plugin>
