<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/classupplier/0.7.8"
            class="org.classupplier.ClassSupplierPackage"
            genModel="model/ClassSupplier.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ClassSupplier -->
      <parser
            type="classupplier"
            class="org.classupplier.util.ClassSupplierResourceFactoryImpl"/>
   </extension>
   <extension
         id="classSupplierNature"
         name="ClassSupplier Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.classupplier.core.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder"
         name="ClassSupplier"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classupplier.core.ProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="org.classupplier.ReflectiveInvocationDelegateFactory"
            uri="org.classupplier.reflection.java">
      </factory>
   </extension>
</plugin>
