<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ImagesUI -->
      <package
            uri="http://org/enterprisedomain/ClassMaker/Images/UI/1.0.0"
            class="org.enterprisedomain.classmaker.imagesUI.ImagesUIPackage"
            genModel="model/ImagesUI.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.enterprisedomain.classmaker.images.ui.ImageViewer"
            default="false"
            extensions="png, jpeg, jpg, tif"
            id="org.enterprisedomain.classmaker.images.ui.imageViewer"
            name="Image Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.enterprisedomain.classmaker.measurement.command"
            name="Measurement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.enterprisedomain.classmaker.images.ui.imageViewer.toolbar"
               label="Image">
            <command
                  commandId="org.enterprisedomain.classmaker.measurement.command"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.enterprisedomain.classmaker.images.ui.MeasurementHandler"
            commandId="org.enterprisedomain.classmaker.measurement.command">
      </handler>
   </extension>
</plugin>
