<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0' xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-enterprisedomain-enterpriseDomain</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/enterprisedomain/enterpriseDomain</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>bintray-enterprisedomain-enterpriseDomain-snapshots</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/enterprisedomain/enterpriseDomain</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-enterprisedomain-enterpriseDomain</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/enterprisedomain/enterpriseDomain</url>
                </pluginRepository>                
                <pluginRepository>
                    <snapshots/>
                    <id>bintray-enterprisedomain-enterpriseDomain-snapshots</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/enterprisedomain/enterpriseDomain</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>bintray-enterprisedomain-enterpriseDomain</id>
            <username>kyrillzotkin</username>
            <password>cf452b628f49c67921da3b5cd2eade962d93097b</password>
        </server>
        <server>
            <id>bintray-enterprisedomain-enterpriseDomain-snapshots</id>
            <username>kyrillzotkin</username>
            <password>cf452b628f49c67921da3b5cd2eade962d93097b</password>
        </server>
    </servers>
</settings>