<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0' xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
	<servers>
	    <server>
			<id>bintray-enterprisedomain-enterpriseDomain</id>
			<username>kyrillzotkin</username>
			<password>cf452b628f49c67921da3b5cd2eade962d93097b</password>
		</server>
	</servers>
    <profiles>
    <profile>
	  <repositories>
        <repository>
          <snapshots>
            <enabled>
              false
            </enabled>
          </snapshots>
          <id>
            bintray-enterprisedomain-enterpriseDomain
          </id>
          <name>
            bintray
          </name>
          <url>
            https://enterprisedomain.bintray.com/enterpriseDomain
          </url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>
              false
            </enabled>
          </snapshots>
          <id>
            bintray-enterprisedomain-enterpriseDomain
          </id>
          <name>
            bintray-plugins
          </name>
          <url>
            https://enterprisedomain.bintray.com/enterpriseDomain
          </url>
        </pluginRepository>
      </pluginRepositories>
      <id>
        bintray
      </id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>
      bintray
    </activeProfile>
  </activeProfiles>
</settings>
