<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="rcp" sequenceNumber="1479208928">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.forms.feature.group" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.feature.group" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.5.0.201609021837"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.1.v20160907-1200"/>
      <unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.200.v20160907-1200"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20160829-1338"/>
      <unit id="org.eclipse.platform.ide" version="4.6.1.M20160907-1200"/>
      <unit id="org.eclipse.jdt.core" version="3.12.1.v20160829-0950"/>
      <unit id="org.eclipse.pde.core" version="3.11.0.v20160510-1223"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.core.databinding" version="1.5.0.v20150422-0725"/>
      <unit id="org.eclipse.core.databinding.beans" version="1.3.0.v20150422-0725"/>
      <unit id="org.eclipse.core.databinding.observable" version="1.5.0.v20150422-0725"/>
      <unit id="org.eclipse.core.databinding.property" version="1.5.0.v20150422-0725"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.emfstore.client.transaction.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <unit id="org.eclipse.emf.emfstore.ecore.feature.feature.group" version="1.8.0.v20160606-1028"/>
      <repository location="http://download.eclipse.org/emfstore/releases_18"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jgit.feature.group" version="4.5.0.201609210915-r"/>
      <unit id="org.eclipse.jgit.http.apache.feature.group" version="4.5.0.201609210915-r"/>
      <unit id="org.eclipse.jgit.pgm.feature.group" version="4.5.0.201609210915-r"/>
      <repository location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="3.12.1.v20160907-1200"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.13.1.v20160830-1309"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.13.1.v20160830-1309"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.10.0.201606071713"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.10.0.201606071900"/>
      <unit id="org.eclipse.net4j.sdk.feature.group" version="4.5.0.v20160607-1511"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.5.0.v20160607-1511"/>
      <unit id="org.eclipse.pde.feature.group" version="3.12.1.v20160907-1200"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.2.0.v20160523-1914"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.10.0.v201605250459"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.mockito.mockito-core-hamcrest-modified" version="1.9.5"/>
      <repository location="http://build.eclipse.org/rt/rap/base-platforms/3.1/extra-dependencies/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
      <unit id="org.apache.poi.source" version="3.9.0.v201405241750"/>
      <unit id="org.apache.poi" version="3.9.0.v201405241750"/>
      <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
      <unit id="org.objenesis" version="1.0.0.v201505121915"/>
      <unit id="org.objenesis.source" version="1.0.0.v201505121915"/>
      <unit id="org.h2" version="1.3.168.v201212121212"/>
      <unit id="javax.validation.source" version="1.0.0.GA_v201205091237"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.h2.source" version="1.3.168.v201212121212"/>
      <unit id="com.google.gson.source" version="2.2.4.v201311231704"/>
      <unit id="com.google.gson" version="2.2.4.v201311231704"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
      <unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.2.1.201610270928"/>
      <unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="1.2.1.201610270928"/>
      <repository location="http://download.eclipse.org/edapt/releases/12x"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.0.0.201605312033"/>
      <repository location="http://download.eclipse.org/nebula/releases/1.0.0"/>
    </location>
  </locations>
</target>
