<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         id="enterpriseDomainNature"
         name="EnterpriseDomain Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.enterprisedomain.classsupplier.core.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder"
         name="EnterpriseDomain"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.enterprisedomain.classsupplier.core.ProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="org.enterprisedomain.classsupplier.ReflectiveInvocationDelegateFactory"
            uri="org.enterprisedomain.classsupplier.reflection.java">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.enterprisedomain.classsupplier.impl.GeneratedProtocolFactory"
            protocolName="org.enterprisedomain.classsupplier.generated">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassSupplier -->
      <package
            uri="http://org/enterprisedomain/ClassSupplier/0.7.8"
            class="org.enterprisedomain.classsupplier.ClassSupplierPackage"
            genModel="model/ClassSupplier.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ClassSupplier -->
      <parser
            type="domainmodel"
            class="org.enterprisedomain.classsupplier.util.ClassSupplierResourceFactoryImpl"/>
   </extension>
</plugin>
