<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 <copyright>
  Copyright 2012-2025 Kyrill Zotkin
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
    http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 </copyright>

 $Id$
-->
<plugin>

	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		<file-association
			content-type="org.eclipse.emf.ecore.xmi"
			file-extensions="xmi">
		</file-association>
		<file-association
			content-type="org.eclipse.emf.ecore"
			file-extensions="ecore,xmi">
		</file-association>
	</extension>
	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="org.enterprisedomain.workbench.Startup">
		</startup>
	</extension>
	<extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product
			application="org.eclipse.ui.ide.workbench"
			description="enterpriseDomain Workbench Object Management Environment Application."
			name="Domain Shell">
			<property
				name="appName"
				value="Domain Shell">
			</property>
		</product>
	</extension>
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="org.eclipse.core.resources.IProject"
			class="org.enterprisedomain.workbench.ProjectAdapterFactory">
			<adapter
				type="org.enterprisedomain.classmaker.Contribution">
			</adapter>
			<adapter
				type="org.enterprisedomain.classmaker.Project">
			</adapter>
		</factory>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<wizard
			category="org.enterprisedomain.classmaker.category"
			class="org.enterprisedomain.workbench.NewProjectWizard"
			id="org.enterprisedomain.classmaker.wizards.new.project"
			name="Model Project"
			project="true">
			<selection
				class="org.eclipse.core.resources.IResource">
			</selection>
		</wizard>
		<category
			id="org.enterprisedomain.classmaker.category"
			name="Domain Tools">
		</category>
		<wizard
			category="org.enterprisedomain.classmaker.category"
			class="org.enterprisedomain.workbench.NewContributionWizard"
			id="org.enterprisedomain.classmaker.wizards.new.contribution"
			name="Meta-Model Contribution"
			project="true">
			<selection
				class="org.eclipse.core.resources.IResource">
			</selection>
		</wizard>
	</extension>

</plugin>
