<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="stages" name="Work Customization Stages" schema="schema/stages.exsd"/>
   <extension-point id="customizers" name="Work Stage Customizers" schema="schema/customizers.exsd"/>
   <extension
         id="projectNature"
         name="enterpriseDomain Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.enterprisedomain.classmaker.core.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="org.enterprisedomain.classmaker.ReflectiveInvocationDelegateFactory"
            uri="org.enterprisedomain.classmaker.reflection.java">
      </factory>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassMaker -->
      <package
            uri="http://org/enterprisedomain/ClassMaker/0.7.902"
            class="org.enterprisedomain.classmaker.ClassMakerPackage"
            genModel="model/ClassMaker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ClassMaker -->
      <parser
            type="domainmodel"
            class="org.enterprisedomain.classmaker.util.ClassMakerResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.enterprisedomain.classmaker.Contribution"
            class="org.enterprisedomain.classmaker.util.ContributionAdapterFactory">
         <adapter
               type="org.eclipse.emf.ecore.resource.Resource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.enterprisedomain.classmaker.stages">
      <stage
            id="org.enterprisedomain.classmaker.customization.stages.create.generator"
            phase="generated"
            step="create.generator">            
      </stage>
      <stage
            id="org.enterprisedomain.classmaker.customization.stages.generation.genmodel.setup"
            phase="generated"
            step="generation.genmodel.setup">
      </stage>
      <stage
            customizer="org.enterprisedomain.classmaker.jobs.export.CreateExporterCustomizer"
            id="org.enterprisedomain.classmaker.customization.stages.create.exporter"
            phase="exported"
            step="create.exporter">
      </stage>
      <stage
            customizer="org.enterprisedomain.classmaker.jobs.install.CreateInstallerCustomizer"
            id="org.enterprisedomain.classmaker.customization.stages.create.installer"
            phase="installed"
            step="create.installer">
      </stage>
      <stage
            customizer="org.enterprisedomain.classmaker.jobs.load.CreateLoaderCustomizer"
            id="org.enterprisedomain.classmaker.customization.stages.create.loader"
            phase="loaded"
            step="create.loader">
      </stage>
   </extension>
   <extension
         point="org.enterprisedomain.classmaker.customizers">
      <customizer
            class="org.enterprisedomain.classmaker.jobs.codegen.CreateGeneratorCustomizer"
            rank="2"
            stage="org.enterprisedomain.classmaker.customization.stages.create.generator">
      </customizer>
      <customizer
            class="org.enterprisedomain.classmaker.jobs.export.CreateExporterCustomizer"
            rank="2"
            stage="org.enterprisedomain.classmaker.customization.stages.create.exporter">
      </customizer>
      <customizer
            class="org.enterprisedomain.classmaker.jobs.install.CreateInstallerCustomizer"
            rank="2"
            stage="org.enterprisedomain.classmaker.customization.stages.create.installer">
      </customizer>
      <customizer
            class="org.enterprisedomain.classmaker.jobs.load.CreateLoaderCustomizer"
            rank="2"
            stage="org.enterprisedomain.classmaker.customization.stages.create.loader">
      </customizer>
   </extension>
</plugin>
