<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.enterprisedomain.classmaker.sample.appid"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bad_container_name" value="/ClassMaker/examples/org.enterprisedomain.sample/sample.launch"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/sample"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.enterprisedomain.classmaker.tests"/>
        <setEntry value="org.enterprisedomain.editor"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-sample"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpg@default:default"/>
        <setEntry value="bcpkix@default:default"/>
        <setEntry value="bcprov@default:default"/>
        <setEntry value="bcutil@default:default"/>
        <setEntry value="biz.aQute.bnd.util@default:default"/>
        <setEntry value="biz.aQute.bndlib@default:default"/>
        <setEntry value="biz.aQute.repository@default:default"/>
        <setEntry value="biz.aQute.resolve@default:default"/>
        <setEntry value="bndtools.api@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="jakarta.activation-api@default:default"/>
        <setEntry value="jakarta.annotation-api*2.1.1@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-compress@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.commons-logging@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.bndtools.templating@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.osgi.namespace.contract@default:default"/>
        <setEntry value="org.osgi.namespace.extender@default:default"/>
        <setEntry value="org.osgi.namespace.service@default:default"/>
        <setEntry value="org.osgi.service.coordinator@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.repository@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.enterprisedomain.classmaker.cdo.server@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.cdo.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.cdo@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.edit@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.images.ui.edit@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.images.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.invoke.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.libraries@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.osgi.systemextension@default:false"/>
        <setEntry value="org.enterprisedomain.classmaker.parsley@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.sample@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.ui.etl.poi2cdo@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.ui.etl@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker@default:default"/>
        <setEntry value="org.enterprisedomain.workbench@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
