<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.enterprisedomain.classmaker.sample.appid"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bad_container_name" value="/ClassMaker/examples/org.enterprisedomain.sample/sample.launch"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/sample"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.enterprisedomain.classmaker.cdo"/>
        <setEntry value="org.enterprisedomain.classmaker.cdo.master"/>
        <setEntry value="org.enterprisedomain.classmaker.cdo.ui"/>
        <setEntry value="org.enterprisedomain.classmaker.edit"/>
        <setEntry value="org.enterprisedomain.classmaker.load"/>
        <setEntry value="org.enterprisedomain.classmaker.load.cdo"/>
        <setEntry value="org.enterprisedomain.classmaker.tests"/>
        <setEntry value="org.enterprisedomain.editor"/>
        <setEntry value="org.enterprisedomain.workbench"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-sample"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.ibm.icu*73.1.0@default:default"/>
        <setEntry value="com.jcraft.jsch*0.1.55.v20221112-0806@default:default"/>
        <setEntry value="com.sun.jna*5.12.1.v20221103-2317@default:default"/>
        <setEntry value="com.sun.jna.platform*5.12.1.v20221103-2317@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="javaewah@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="lpg.runtime.java@default:default"/>
        <setEntry value="net.i2p.crypto.eddsa@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants*1.16.0.v20221027-0840@default:default"/>
        <setEntry value="org.apache.batik.css*1.16.0.v20221027-0840@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.16.0.v20221027-0840@default:default"/>
        <setEntry value="org.apache.batik.util*1.16.0.v20221027-0840@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.compress@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr*2.2.6@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.sshd.osgi@default:default"/>
        <setEntry value="org.apache.sshd.sftp@default:default"/>
        <setEntry value="org.apache.xmlgraphics*2.7.0.v20221018-0736@default:default"/>
        <setEntry value="org.eclipse.ant.core*3.7.0.v20230329-1001@default:default"/>
        <setEntry value="org.eclipse.compare.core*3.8.0.v20230517-1315@default:default"/>
        <setEntry value="org.eclipse.core.commands*3.11.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.core.contenttype*3.9.0.v20230412-0829@default:default"/>
        <setEntry value="org.eclipse.core.databinding*1.13.0.v20230501-1533@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable*1.13.0.v20230501-1533@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property*1.10.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.core.expressions*3.9.0.v20230317-0901@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers*3.8.0.v20230316-1200@default:default"/>
        <setEntry value="org.eclipse.core.filesystem*1.10.0.v20230425-0513@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.jobs*3.14.0.v20230317-0901@default:default"/>
        <setEntry value="org.eclipse.core.net*1.5.0.v20230317-0901@default:default"/>
        <setEntry value="org.eclipse.core.net.linux@default:false"/>
        <setEntry value="org.eclipse.core.resources*3.19.0.v20230510-1240@default:default"/>
        <setEntry value="org.eclipse.core.runtime*3.27.0.v20230515-1719@default:true"/>
        <setEntry value="org.eclipse.core.variables*3.6.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.debug.core*3.21.0.v20230508-1538@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands*1.1.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts*1.12.0.v20230510-1240@default:default"/>
        <setEntry value="org.eclipse.e4.core.di*1.9.0.v20230429-1914@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations*1.8.0.v20230429-1914@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions*0.18.0.v20230429-1914@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier*0.17.0.v20230429-1914@default:default"/>
        <setEntry value="org.eclipse.e4.core.services*2.4.0.v20230429-1914@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath*0.4.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings*0.14.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core*0.14.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt*0.15.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme*0.14.0.v20230501-1533@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di*1.5.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs*1.4.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide*3.17.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench*2.4.0.v20230404-0801@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services*1.6.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk*1.2.0.v20230501-1823@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets*1.4.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench*1.15.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt*1.5.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt*0.16.0.v20230525-0648@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt*0.17.0.v20230501-1823@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3*0.17.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.codegen@default:default"/>
        <setEntry value="org.eclipse.emf.common.ui@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit.ui@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common*3.18.0.v20230523-2142@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console.jaas.fragment@default:false"/>
        <setEntry value="org.eclipse.equinox.event*1.6.200.v20230120-0604@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox*1.2.300.v20230320-0659@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64*1.2.700.v20221108-1024@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository*1.5.0.v20230509-1332@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core*2.10.0.v20230330-0930@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director*2.6.0.v20230322-1009@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director.app*1.3.0.v20230330-0930@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine*2.8.0.v20230509-0902@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector*1.3.0.v20230322-1009@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor*1.3.0.v20230330-1254@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata*2.7.0.v20230403-0851@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository*1.5.0.v20230415-1327@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations*2.7.0.v20230322-1009@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher*1.8.0.v20230330-1254@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse*1.5.0.v20230330-1254@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository*2.7.0.v20230507-1427@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools*2.4.0.v20230330-1254@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse*2.4.0.v20230330-0930@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives*1.5.0.v20230330-0930@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf*1.4.0.v20230415-1327@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite*1.3.0.v20230330-1254@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences*3.10.200.v20230120-0604@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux*1.0.300.v20220904-1118@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator*1.4.200.v20221111-1340@1:true"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator*2.2.100.v20221117-1044@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.help*3.10.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.jdt.core*3.34.0.v20230512-1803@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.core@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.jetty.http*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.io*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.security*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.server*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.util*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax*10.0.15@default:default"/>
        <setEntry value="org.eclipse.jface*3.30.0.v20230509-0720@default:default"/>
        <setEntry value="org.eclipse.jface.databinding*1.15.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.jface.notifications*0.6.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.jface.text*3.24.0.v20230525-0719@default:default"/>
        <setEntry value="org.eclipse.jgit.archive@default:default"/>
        <setEntry value="org.eclipse.jgit@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.common@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.cst.parser@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.ecore.imperativeocl@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.emf.util@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.ocl@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.project@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.runtime@default:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml@default:default"/>
        <setEntry value="org.eclipse.ocl.common@default:default"/>
        <setEntry value="org.eclipse.ocl.ecore@default:default"/>
        <setEntry value="org.eclipse.ocl@default:default"/>
        <setEntry value="org.eclipse.osgi*3.18.400.v20230509-2241@-1:true"/>
        <setEntry value="org.eclipse.osgi.compatibility.state*1.2.800.v20221116-1440@default:false"/>
        <setEntry value="org.eclipse.osgi.services*3.11.100.v20221006-1531@default:default"/>
        <setEntry value="org.eclipse.osgi.util*3.7.200.v20230103-1101@default:default"/>
        <setEntry value="org.eclipse.pde.api.tools@default:default"/>
        <setEntry value="org.eclipse.pde.build@default:default"/>
        <setEntry value="org.eclipse.pde.core*3.17.0.v20230515-1841@default:default"/>
        <setEntry value="org.eclipse.pde.ds.core@default:default"/>
        <setEntry value="org.eclipse.pde.launching@default:default"/>
        <setEntry value="org.eclipse.swt*3.124.0.v20230523-1044@default:default"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64*3.124.0.v20230523-1044@default:false"/>
        <setEntry value="org.eclipse.team.core*3.10.0.v20230317-0901@default:default"/>
        <setEntry value="org.eclipse.text*3.13.0.v20230316-1200@default:default"/>
        <setEntry value="org.eclipse.ui*3.203.100.v20230417-1307@default:default"/>
        <setEntry value="org.eclipse.ui.forms*3.12.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.ui.ide*3.21.0.v20230526-1500@default:default"/>
        <setEntry value="org.eclipse.ui.navigator*3.12.0.v20230329-1313@default:default"/>
        <setEntry value="org.eclipse.ui.views*3.12.0.v20230317-0802@default:default"/>
        <setEntry value="org.eclipse.ui.workbench*3.129.0.v20230525-0648@default:default"/>
        <setEntry value="org.eclipse.urischeme*1.3.0.v20230317-0802@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.kohsuke.args4j@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.opentest4j@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.slf4j.api*1.7.30.v20221112-0806@default:default"/>
        <setEntry value="org.slf4j.binding.log4j12@default:false"/>
        <setEntry value="org.tukaani.xz*1.9.0.v20210624-1259@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.enterprisedomain.classmaker.images.ui.edit@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.images.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.invoke.ui@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.libraries@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.osgi.systemextension@default:false"/>
        <setEntry value="org.enterprisedomain.classmaker.parsley@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker.sample@default:default"/>
        <setEntry value="org.enterprisedomain.classmaker@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
