<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="org.enterprisedomain.target" sequenceNumber="1778765790">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.34.0.v20241113-2009"/>
      <unit id="org.eclipse.e4.ui.progress" version="0.4.700.v20241015-1729"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.34.0.v20241120-1800"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.34.0.v20241120-1800"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="4.34.0.v20241113-2009"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1500.v20241112-0530"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2700.v20240929-1145"/>
      <unit id="org.eclipse.platform.ide" version="4.34.0.I20241120-1800"/>
      <unit id="org.eclipse.jdt.core" version="3.40.0.v20241118-1641"/>
      <unit id="org.eclipse.jdt.annotation" version="2.3.100.v20241001-0914"/>
      <unit id="org.eclipse.pde.core" version="3.20.0.v20241110-1456"/>
      <repository id="updates" location="https://download.eclipse.org/eclipse/updates/4.34/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.43.0.v20251210-1145"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="2.40.0.v20251210-1145"/>
      <unit id="org.eclipse.emf.codegen" version="2.28.0.v20251210-1145"/>
      <unit id="org.eclipse.emf.codegen.ecore" version="2.45.0.v20260127-0058"/>
      <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.42.0.v20260223-0608"/>
      <unit id="org.eclipse.emf.parsley" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.cdo" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.common" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.cdo.common" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.runtime" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.runtime.common" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.views" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.emf.parsley.views.common" version="1.18.0.v20240826-1656"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.15.800.v20260102-1534"/>
      <unit id="org.eclipse.equinox.registry" version="3.12.600.v20250906-0651"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.4.1100.v20260102-1534"/>
      <unit id="org.eclipse.core.expressions" version="3.9.500.v20250608-0434"/>
      <unit id="org.eclipse.search" version="3.18.0.v20260103-1533"/>
      <unit id="org.eclipse.search.core" version="3.16.600.v20250920-0652"/>
      <unit id="org.eclipse.ui.ide" version="3.23.0.v20260103-1639"/>
      <unit id="org.eclipse.ui.views" version="3.13.0.v20251217-0909"/>
      <unit id="org.eclipse.e4.ui.workbench" version="1.18.200.v20260124-1751"/>
      <unit id="org.eclipse.ui.workbench" version="3.138.0.v20260204-1601"/>
      <unit id="org.eclipse.ui" version="3.208.0.v20251219-1043"/>
      <unit id="org.eclipse.ui.navigator" version="3.14.0.v20260103-1533"/>
      <unit id="org.osgi.service.http.whiteboard" version="1.1.1.202109301733"/>
      <unit id="org.eclipse.equinox.common" version="3.20.300.v20251111-0312"/>
      <unit id="org.eclipse.equinox.http.service.api" version="1.2.102.v20250520-0629"/>
      <unit id="org.eclipse.equinox.servletbridge" version="1.7.300.v20250621-0454"/>
      <unit id="org.eclipse.equinox.servletbridge.source" version="1.7.300.v20250621-0454"/>
      <unit id="org.eclipse.equinox.http.servlet" version="1.8.600.v20251111-0344"/>
      <unit id="org.eclipse.equinox.http.servlet.source" version="1.8.600.v20251111-0344"/>
      <unit id="org.eclipse.equinox.http.servletbridge" version="1.3.200.v20250519-0529"/>
      <unit id="org.eclipse.equinox.http.servletbridge.source" version="1.3.200.v20250519-0529"/>
      <unit id="org.eclipse.swt" version="3.133.0.v20260225-1014"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.3100.v20260125-1012"/>
      <unit id="org.eclipse.equinox.weaving.caching" version="1.3.400.v20250726-1031"/>
      <unit id="org.eclipse.equinox.weaving.caching.j9" version="1.3.400.v20250606-0913"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="1.4.400.v20250628-0635"/>
      <unit id="org.eclipse.osgi" version="3.24.100.v20251215-1416"/>
      <unit id="org.eclipse.osgi.util" version="3.7.400.v20250516-0916"/>
      <unit id="org.apache.felix.scr" version="2.2.14"/>
      <unit id="org.apache.commons.codec" version="1.14.0.v20221112-0806"/>
      <unit id="org.apache.commons.commons-io" version="2.21.0"/>
      <unit id="org.apache.commons.commons-collections4" version="4.5.0"/>
      <unit id="org.apache.commons.commons-compress" version="1.28.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.3.0.202506021445"/>
      <unit id="org.eclipse.core.runtime" version="3.34.200.v20251220-0953"/>
      <unit id="org.eclipse.core.resources" version="3.23.200.v20251217-0810"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.20.500.v20260226-0420"/>
      <unit id="org.eclipse.jdt.core.manipulation" version="1.24.0.v20260212-2209"/>
      <unit id="org.eclipse.jdt.core.compiler.batch" version="3.45.0.v20260224-0835"/>
      <unit id="org.eclipse.jdt.ui" version="3.37.0.v20260213-1444"/>
      <unit id="org.commonmark" version="0.27.1"/>
      <unit id="org.commonmark.ext-gfm-tables" version="0.27.1"/>
      <unit id="org.eclipse.equinox.server.core.feature.group" version="1.16.800.v20260102-1534"/>
      <unit id="org.eclipse.equinox.server.p2.feature.group" version="1.12.2000.v20260108-1444"/>
      <unit id="org.eclipse.equinox.http.registry" version="1.4.400.v20250611-0943"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.45.0.v20260127-0058"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.27.0.202602231721"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.19.3.202502181516"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.19.3.202502181516"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.14.1.202510230804"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.14.2.202510231413"/>
      <unit id="org.eclipse.net4j.sdk.feature.group" version="4.31.1.v20260304-1816"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="5.16.0.v20260304-1816"/>
      <unit id="org.eclipse.platform.feature.group" version="4.39.0.v20260226-0420"/>
      <unit id="org.eclipse.pde.feature.group" version="3.16.600.v20260226-0420"/>
      <unit id="org.eclipse.core.contenttype" version="3.9.800.v20251105-1620"/>
      <unit id="org.eclipse.equinox.preferences" version="3.12.100.v20251111-0704"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.23.0.v20260217-0639"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.11.2.v20260216-1113"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.42.0.v20260223-0608"/>
      <unit id="org.sat4j.core" version="2.3.6.v20201214"/>
      <unit id="org.sat4j.pb" version="2.3.6.v20201214"/>
      <unit id="jakarta.inject.jakarta.inject-api" version="2.0.1"/>
      <unit id="jakarta.el" version="4.0.0.v20210105-0527"/>
      <unit id="jakarta.annotation-api" version="2.1.1"/>
      <unit id="jakarta.servlet-api" version="6.1.0"/>
      <unit id="jakarta.xml.bind-api" version="4.0.5"/>
      <unit id="jakarta.activation-api" version="2.1.4"/>
      <unit id="org.bndtools.versioncontrol.ignores.manager" version="7.2.1.202601121903"/>
      <unit id="org.bndtools.versioncontrol.ignores.plugin.git" version="7.2.1.202601121903"/>
      <unit id="org.bndtools.headless.build.manager" version="7.2.1.202601121903"/>
      <unit id="org.bndtools.headless.build.plugin.gradle" version="7.2.1.202601121903"/>
      <unit id="lpg.runtime.java" version="2.0.17.v201004271640"/>
      <repository id="simrel_latest" location="https://download.eclipse.org/releases/latest/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jgit.feature.group" version="7.6.0.202603022253-r"/>
      <repository location="http://download.eclipse.org/egit/updates/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.query" version="1.7.0.202208101410"/>
      <repository location="https://download.eclipse.org/modeling/emf/query/updates/releases/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="21.0.10.v20260205-0638"/>
      <repository location="https://download.eclipse.org/justj/jres/21/updates/release/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.cdo.all.feature.group" version="4.33.0.v20260304-1816"/>
      <repository location="https://download.eclipse.org/modeling/emf/cdo/updates/releases/4.x/latest/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="3.3.28.202605071334"/>
      <unit id="org.eclipse.emf.compare.edit" version="4.3.1.202605071334"/>
      <unit id="org.eclipse.emf.compare.ide" version="3.4.3.202605071334"/>
      <unit id="org.eclipse.emf.compare.ide.ui" version="4.4.3.202605071334"/>
      <unit id="org.eclipse.emf.compare.rcp" version="2.5.2.202605071334"/>
      <unit id="org.eclipse.emf.compare.rcp.ui" version="4.4.2.202605071334"/>
      <repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/latest/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.7.0.v20250111-0100"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.15.0.v20250115-0406"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.402.v20231021-2127"/>
      <repository location="https://download.eclipse.org/rt/ecf/3.15.5/site.p2"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.bndtools.headless.build.manager" version="7.2.1.202601121903"/>
      <unit id="aQute.libg" version="7.2.1.202601121903"/>
      <unit id="com.ibm.icu" version="78.2.0"/>
      <unit id="com.googlecode.javaewah.JavaEWAH" version="1.2.3"/>
      <unit id="com.googlecode.javaewah.JavaEWAH.source" version="1.2.3"/>
      <unit id="org.objectweb.asm" version="9.9.1"/>
      <unit id="org.objectweb.asm.tree" version="9.9.1"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.9.1"/>
      <unit id="org.objectweb.asm.commons" version="9.9.1"/>
      <unit id="org.objectweb.asm.util" version="9.9.1"/>
      <unit id="org.apache.sshd.sftp" version="2.17.1"/>
      <unit id="org.apache.sshd.sftp.source" version="2.17.1"/>
      <unit id="org.apache.log4j.source" version="1.2.26"/>
      <unit id="org.apache.log4j" version="1.2.26"/>
      <unit id="org.apache.logging.log4j.api" version="2.25.3"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.commons.commons-jxpath" version="1.4.0"/>
      <unit id="org.apache.lucene.core" version="10.3.2.v20251117-1800"/>
      <unit id="org.apache.lucene.analysis-common" version="10.3.2.v20251117-1800"/>
      <unit id="org.apache.lucene.analysis-smartcn" version="10.3.2.v20251117-1800"/>
      <unit id="com.google.guava" version="33.5.0.jre"/>
      <unit id="com.google.gson.source" version="2.13.2"/>
      <unit id="com.google.gson" version="2.13.2"/>
      <unit id="com.google.inject" version="7.0.0"/>
      <unit id="com.google.inject.source" version="7.0.0"/>
      <unit id="com.github.virtuald.curvesapi" version="1.8.0.v20230927-1624"/>
      <unit id="org.hamcrest" version="3.0.0"/>
      <unit id="org.hamcrest.core" version="2.2.0.v20230809-1000"/>
      <unit id="org.hamcrest.library" version="2.2.0.v20230809-1000"/>
      <unit id="org.hamcrest.library.source" version="2.2.0.v20230809-1000"/>
      <unit id="org.kohsuke.args4j" version="2.37.0"/>
      <unit id="org.kohsuke.args4j.source" version="2.37.0"/>
      <unit id="com.github.weisj.jsvg" version="2.0.0"/>
      <unit id="org.mockito.mockito-core" version="5.21.0"/>
      <unit id="org.mockito.mockito-core.source" version="5.21.0"/>
      <unit id="org.objenesis" version="3.5.0"/>
      <unit id="org.objenesis.source" version="3.5.0"/>
      <unit id="org.tukaani.xz" version="1.11.0"/>
      <unit id="org.tukaani.xz.source" version="1.11.0"/>
      <unit id="org.jdom" version="1.1.3.v20230812-1600"/>
      <unit id="org.osgi.namespace.contract" version="1.0.0.201505202024"/>
      <unit id="org.osgi.namespace.extender" version="1.0.1.201505202024"/>
      <unit id="org.osgi.namespace.service" version="1.0.0.201505202024"/>
      <unit id="com.sun.jna" version="5.18.1.v20251001-0800"/>
      <unit id="com.sun.jna.platform" version="5.18.1"/>
      <unit id="com.sun.jna.platform.source" version="5.18.1"/>
      <unit id="org.apache.batik.bridge" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.dom" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.anim" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.css" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.constants" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.util" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.i18n" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.xml" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.script" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.parser" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.gvt" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.ext" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.batik.dom.svg" version="1.19.0.v20250506-1400"/>
      <unit id="org.apache.commons.collections" version="3.2.2"/>
      <unit id="org.apache.xalan" version="2.7.3.v20260106-1000"/>
      <unit id="org.apache.xerces" version="2.12.2.v20230928-1306"/>
      <unit id="org.apache.xml.resolver" version="1.2.0.v20230928-1222"/>
      <unit id="org.apache.xml.serializer" version="2.7.3.v20260106-1000"/>
      <unit id="org.apache.poi" version="5.5.1.v20251201-1000"/>
      <unit id="org.apache.poi.source" version="5.5.1.v20251201-1000"/>
      <unit id="org.apache.poi.ooxml" version="5.5.1.v20251201-1000"/>
      <unit id="org.apache.poi.ooxml.source" version="5.5.1.v20251201-1000"/>
      <unit id="org.apache.poi.ooxml.schemas" version="5.5.1.v20251201-1000"/>
      <unit id="org.apache.xmlbeans" version="5.3.0.v20241214-0800"/>
      <unit id="org.apache.xmlbeans.source" version="5.3.0.v20241214-0800"/>
      <unit id="org.apache.commons.math3" version="3.6.1"/>
      <unit id="org.apache.commons.math3.source" version="3.6.1"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.5.0.202211141318"/>
      <unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="1.5.0.202211141318"/>
      <repository id="edapt-p2-repo" location="http://download.eclipse.org/edapt/releases/15x"/>
    </location>
    <location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="slf4j">
      <dependencies>
        <dependency>
          <groupId>org.slf4j</groupId>
          <artifactId>slf4j-api</artifactId>
          <version>2.0.17</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.slf4j</groupId>
          <artifactId>slf4j-reload4j</artifactId>
          <version>2.0.17</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.slf4j</groupId>
          <artifactId>slf4j-nop</artifactId>
          <version>2.0.17</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="xmlsec">
      <dependencies>
        <dependency>
          <groupId>org.apache.santuario</groupId>
          <artifactId>xmlsec</artifactId>
          <version>4.0.4</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="MavenDependencies">
      <dependencies>
        <dependency>
          <groupId>org.apache.aries.spifly</groupId>
          <artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
          <version>1.3.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bouncycastle</groupId>
          <artifactId>bcpg-jdk18on</artifactId>
          <version>1.80</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bouncycastle</groupId>
          <artifactId>bcprov-jdk18on</artifactId>
          <version>1.80</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bouncycastle</groupId>
          <artifactId>bcpkix-jdk18on</artifactId>
          <version>1.80</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bouncycastle</groupId>
          <artifactId>bcutil-jdk18on</artifactId>
          <version>1.80</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>biz.aQute.bnd</groupId>
          <artifactId>biz.aQute.bnd.util</artifactId>
          <version>7.2.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>biz.aQute.bnd</groupId>
          <artifactId>biz.aQute.bndlib</artifactId>
          <version>7.2.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>biz.aQute.bnd</groupId>
          <artifactId>biz.aQute.repository</artifactId>
          <version>7.2.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>biz.aQute.bnd</groupId>
          <artifactId>biz.aQute.resolve</artifactId>
          <version>7.2.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.guava</groupId>
          <artifactId>failureaccess</artifactId>
          <version>1.0.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.guava</groupId>
          <artifactId>guava</artifactId>
          <version>32.1.2-jre</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.guava</groupId>
          <artifactId>guava</artifactId>
          <version>33.2.1-jre</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.guava</groupId>
          <artifactId>guava</artifactId>
          <version>33.3.0-jre</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>commons-codec</groupId>
          <artifactId>commons-codec</artifactId>
          <version>1.20.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>commons-io</groupId>
          <artifactId>commons-io</artifactId>
          <version>2.18.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-compress</artifactId>
          <version>1.27.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-collections4</artifactId>
          <version>4.4</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>jakarta.validation</groupId>
          <artifactId>jakarta.validation-api</artifactId>
          <version>3.1.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.ow2.asm</groupId>
          <artifactId>asm-analysis</artifactId>
          <version>9.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.ow2.asm</groupId>
          <artifactId>asm</artifactId>
          <version>9.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.ow2.asm</groupId>
          <artifactId>asm-tree</artifactId>
          <version>9.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.ow2.asm</groupId>
          <artifactId>asm-util</artifactId>
          <version>9.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.ow2.asm</groupId>
          <artifactId>asm-commons</artifactId>
          <version>9.7</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.xmlgraphics</groupId>
          <artifactId>batik-awt-util</artifactId>
          <version>1.19</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.xmlgraphics</groupId>
          <artifactId>batik-all</artifactId>
          <version>1.19</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.xmlgraphics</groupId>
          <artifactId>batik-svggen</artifactId>
          <version>1.19</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>de.rototor.pdfbox</groupId>
          <artifactId>graphics2d</artifactId>
          <version>3.0.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>commons-beanutils</groupId>
          <artifactId>commons-beanutils</artifactId>
          <version>1.9.4</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bndtools</groupId>
          <artifactId>bndtools.api</artifactId>
          <version>7.0.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bndtools</groupId>
          <artifactId>org.bndtools.templating</artifactId>
          <version>7.0.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.h2database</groupId>
          <artifactId>h2</artifactId>
          <version>2.4.240</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.framework</artifactId>
          <version>1.10.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.namespace.contract</artifactId>
          <version>1.0.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.namespace.extender</artifactId>
          <version>1.0.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.namespace.service</artifactId>
          <version>1.0.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.resource</artifactId>
          <version>1.0.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.dto</artifactId>
          <version>1.1.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.service.repository</artifactId>
          <version>1.1.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.osgi</groupId>
          <artifactId>org.osgi.test.common</artifactId>
          <version>1.2.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.zaxxer</groupId>
          <artifactId>SparseBitSet</artifactId>
          <version>1.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>aopalliance</groupId>
          <artifactId>aopalliance</artifactId>
          <version>1.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
</target>
