<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="org.enterprisedomain.target" sequenceNumber="1692599963">
	<locations>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.e4.rcp.feature.group"
				version="4.25.0.v20220829-1402" />
			<unit id="org.eclipse.e4.ui.progress"
				version="0.3.500.v20220717-1456" />
			<unit id="org.eclipse.rcp.configuration.feature.group"
				version="1.1.1800.v20220831-1800" />
			<unit id="org.eclipse.rcp.source.feature.group"
				version="4.25.0.v20220831-1800" />
			<unit id="org.eclipse.e4.rcp.source.feature.group"
				version="4.25.0.v20220829-1402" />
			<unit id="org.eclipse.equinox.sdk.feature.group"
				version="3.23.500.v20220826-1025" />
			<unit id="org.eclipse.equinox.executable.feature.group"
				version="3.8.1800.v20220720-1949" />
			<unit id="org.eclipse.platform.ide" version="4.25.0.I20220831-1800" />
			<unit id="org.eclipse.jdt.core" version="3.31.0.v20220831-1439" />
			<unit id="org.eclipse.jdt.annotation"
				version="2.2.700.v20220826-1026" />
			<unit id="org.eclipse.pde.core" version="3.15.300.v20220822-0845" />
			<repository id="updates"
				location="https://download.eclipse.org/eclipse/updates/4.25/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.ecore.feature.group"
				version="2.32.0.v20230406-1203" />
			<unit id="org.eclipse.emf.ecore.xmi" version="2.18.0.v20230211-1150" />
			<unit id="org.eclipse.xtext.xbase.lib.feature.group"
				version="2.31.0.v20230529-0659" />
			<unit id="org.eclipse.emf.parsley" version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.cdo"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.common"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.cdo.common"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.runtime"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.runtime.common"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.views"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.emf.parsley.views.common"
				version="1.14.0.v20221201-1038" />
			<unit id="org.eclipse.equinox.core.feature.feature.group"
				version="1.14.0.v20230523-2142" />
			<unit id="org.eclipse.equinox.registry"
				version="3.11.200.v20220817-1601" />
			<unit id="org.eclipse.core.runtime.feature.feature.group"
				version="1.4.0.v20230523-2142" />
			<unit id="org.eclipse.core.expressions"
				version="3.9.0.v20230317-0901" />
			<unit id="org.eclipse.ui.ide" version="3.21.0.v20230526-1500" />
			<unit id="org.eclipse.ui.views" version="3.12.0.v20230317-0802" />
			<unit id="org.eclipse.e4.ui.workbench"
				version="1.15.0.v20230501-1823" />
			<unit id="org.eclipse.ui.workbench" version="3.129.0.v20230525-0648" />
			<unit id="org.eclipse.ui" version="3.203.100.v20230417-1307" />
			<unit id="org.eclipse.ui.navigator" version="3.12.0.v20230329-1313" />
			<unit id="org.eclipse.equinox.common"
				version="3.18.0.v20230523-2142" />
			<unit id="org.eclipse.equinox.servletbridge"
				version="1.6.200.v20220710-1223" />
			<unit id="org.eclipse.equinox.servletbridge.source"
				version="1.6.200.v20220710-1223" />
			<unit id="org.eclipse.equinox.http.servlet"
				version="1.7.400.v20221006-1531" />
			<unit id="org.eclipse.equinox.http.servlet.source"
				version="1.7.400.v20221006-1531" />
			<unit id="org.eclipse.equinox.http.servletbridge"
				version="1.2.200.v20220710-1223" />
			<unit id="org.eclipse.equinox.http.servletbridge.source"
				version="1.2.200.v20220710-1223" />
			<unit id="org.eclipse.swt" version="3.124.0.v20230523-1044" />
			<unit id="org.eclipse.equinox.p2.extras.feature.feature.group"
				version="1.4.2000.v20230509-1332" />
			<unit
				id="org.eclipse.equinox.p2.extras.feature.source.feature.group"
				version="1.4.2000.v20230509-1332" />
			<unit id="org.eclipse.equinox.weaving.caching"
				version="1.2.300.v20230425-1618" />
			<unit id="org.eclipse.equinox.weaving.caching.j9"
				version="1.2.200.v20220720-1916" />
			<unit id="org.eclipse.equinox.weaving.hook"
				version="1.3.200.v20220720-1916" />
			<unit id="org.eclipse.osgi.util" version="3.7.200.v20230103-1101" />
			<unit id="org.apache.felix.scr" version="2.2.6" />
			<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830" />
			<unit id="org.eclipse.swtbot.eclipse.feature.group"
				version="4.1.0.202306071420" />
			<unit id="org.eclipse.swtbot.junit4_x" version="4.1.0.202306071420" />
			<unit id="org.eclipse.core.runtime" version="3.27.0.v20230515-1719" />
			<unit id="org.eclipse.core.resources"
				version="3.19.0.v20230510-1240" />
			<unit id="org.eclipse.jdt.feature.group"
				version="3.19.100.v20230605-0440" />
			<unit id="org.eclipse.jdt.core.compiler.batch"
				version="3.34.0.v20230523-1233" />
			<unit id="org.eclipse.jdt.ui" version="3.29.0.v20230525-0728" />
			<unit id="org.eclipse.equinox.server.core.feature.group"
				version="1.15.0.v20230523-2142" />
			<unit id="org.eclipse.equinox.server.p2.feature.group"
				version="1.12.900.v20230509-1332" />
			<unit id="org.eclipse.equinox.http.registry"
				version="1.3.200.v20220720-2012" />
			<unit id="org.eclipse.emf.sdk.feature.group"
				version="2.34.0.v20230406-1334" />
			<unit id="org.eclipse.gef.sdk.feature.group"
				version="3.16.0.202306071707" />
			<unit id="org.eclipse.graphiti.feature.feature.group"
				version="0.19.1.202211181144" />
			<unit id="org.eclipse.graphiti.export.feature.feature.group"
				version="0.19.1.202211181144" />
			<unit id="org.eclipse.emf.validation.sdk.feature.group"
				version="1.13.3.202305230712" />
			<unit id="org.eclipse.emf.transaction.sdk.feature.group"
				version="1.13.0.202208110935" />
			<unit id="org.eclipse.net4j.sdk.feature.group"
				version="4.22.0.v20230221-1613" />
			<unit id="org.eclipse.emf.cdo.sdk.feature.group"
				version="5.14.0.v20230420-0638" />
			<unit id="org.eclipse.platform.feature.group"
				version="4.28.0.v20230605-0440" />
			<unit id="org.eclipse.pde.feature.group"
				version="3.15.0.v20230605-0440" />
			<unit id="org.eclipse.core.contenttype"
				version="3.9.0.v20230412-0829" />
			<unit id="org.eclipse.equinox.preferences"
				version="3.10.200.v20230120-0604" />
			<unit id="org.eclipse.ocl.all.sdk.feature.group"
				version="5.18.0.v20221201-0557" />
			<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group"
				version="3.10.7.v20220605-1149" />
			<unit id="org.eclipse.xtend.sdk.feature.group"
				version="2.31.0.v20230529-0659" />
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group"
				version="1.1.501.v20230507-1921" />
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group"
				version="1.1.401.v20230422-0242" />
			<unit
				id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group"
				version="1.1.701.v20230423-0417" />
			<unit id="org.sat4j.core" version="2.3.6.v20201214" />
			<unit id="org.sat4j.pb" version="2.3.6.v20201214" />
			<repository id="simrel_latest"
				location="https://download.eclipse.org/releases/latest/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.jgit.feature.group"
				version="6.6.0.202305301015-r" />
			<repository location="http://download.eclipse.org/egit/updates/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.query" version="1.7.0.202208101410" />
			<repository
				location="https://download.eclipse.org/modeling/emf/query/updates/releases/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group"
				version="17.0.8.v20230801-1951" />
			<repository
				location="https://download.eclipse.org/justj/jres/17/updates/release/latest" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.cdo.all.feature.group"
				version="4.22.0.v20230420-0638" />
			<repository
				location="https://download.eclipse.org/modeling/emf/cdo/updates/releases/4.x/latest/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.compare.feature.group"
				version="3.3.21.202212280858" />
			<unit id="org.eclipse.emf.compare.edit" version="4.3.1.202212280858" />
			<unit id="org.eclipse.emf.compare.ide" version="3.4.3.202212280858" />
			<unit id="org.eclipse.emf.compare.ide.ui"
				version="4.4.3.202212280858" />
			<unit id="org.eclipse.emf.compare.rcp" version="2.5.2.202212280858" />
			<unit id="org.eclipse.emf.compare.rcp.ui"
				version="4.4.2.202212280858" />
			<repository
				location="https://download.eclipse.org/modeling/emf/compare/updates/releases/latest/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.ecp.application.e3"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.e3.feature.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.e3.feature.source.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.core" version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.model.provider.generator"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.model.provider.xmi"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.swt.layout"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.edit" version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui" version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui.source"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui.view.swt"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui.e3" version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ecore.feature.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ide.util"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ide.view.service"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.common.ui"
				version="1.27.0.20221202-1633" />
			<unit
				id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group"
				version="1.27.0.20221202-1633" />
			<unit
				id="org.eclipse.emf.ecp.emfforms.runtime.feature.source.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.ide.view.segments"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.ide.preferences"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.editor"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.editor.ecore"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.setup.base"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.validation"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.feature.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.validation.view.feature.feature.group"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.treemasterdetail.validation"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.databinding.index"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.databinding.mapping"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.domainexpander.index"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.domainexpander.mapping"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.structuralchange.index"
				version="1.27.0.20221202-1633" />
			<unit
				id="org.eclipse.emfforms.core.services.structuralchange.mapping"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.indexdmr.model"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.model"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.view.mappingdmr.model"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.swt.control.multiattribute"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.segments.mapping"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.core.services.segments.index"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.view.mappingsegment.model"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emfforms.view.indexsegment.model"
				version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui.rcp" version="1.27.0.20221202-1633" />
			<unit id="org.eclipse.emf.ecp.ui.rcp.source"
				version="1.27.0.20221202-1633" />
			<repository id="ecp"
				location="http://download.eclipse.org/ecp/releases/releases_target_127/" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.ecf.core.feature.feature.group"
				version="1.5.0.v20180426-1936" />
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group"
				version="3.14.0.v20180306-0429" />
			<repository
				location="http://download.eclipse.org/rt/ecf/3.14.0/site.p2" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="javaewah" version="1.1.13.v20211029-0839" />
			<unit id="javaewah.source" version="1.1.13.v20211029-0839" />
			<unit id="javax.annotation" version="1.3.5.v20221112-0806" />
			<unit id="javax.annotation.source" version="1.3.5.v20221112-0806" />
			<unit id="org.objectweb.asm" version="9.4.0.v20221107-1714" />
			<unit id="org.objectweb.asm.tree" version="9.4.0.v20221107-1714" />
			<unit id="org.objectweb.asm.commons" version="9.4.0.v20221107-1714" />
			<unit id="org.objectweb.asm.util" version="9.4.0.v20221107-1714" />
			<unit id="org.apache.commons.compress"
				version="1.21.0.v20211103-2100" />
			<unit id="org.apache.commons.compress.source"
				version="1.21.0.v20211103-2100" />
			<unit id="org.apache.sshd.sftp" version="2.9.2.v20221117-1942" />
			<unit id="org.apache.sshd.sftp.source"
				version="2.9.2.v20221117-1942" />
			<unit id="org.apache.log4j.source" version="1.2.19.v20220208-1728" />
			<unit id="org.apache.log4j" version="1.2.19.v20220208-1728" />
			<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900" />
			<unit id="org.apache.commons.codec" version="1.14.0.v20221112-0806" />
			<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502" />
			<unit id="com.google.inject" version="5.0.1.v20221112-0806" />
			<unit id="com.google.inject.source" version="5.0.1.v20221112-0806" />
			<unit id="com.google.gson.source" version="2.9.1.v20220915-1632" />
			<unit id="com.google.gson" version="2.9.1.v20220915-1632" />
			<unit id="com.google.guava" version="30.1.0.v20221112-0806" />
			<unit id="com.google.guava.source" version="30.1.0.v20221112-0806" />
			<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519" />
			<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246" />
			<unit id="org.hamcrest.library.source"
				version="1.3.0.v20180524-2246" />
			<unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218" />
			<unit id="org.kohsuke.args4j.source" version="2.33.0.v20160323-2218" />
			<unit id="net.i2p.crypto.eddsa" version="0.3.0.v20220506-1020" />
			<unit id="net.i2p.crypto.eddsa.source"
				version="0.3.0.v20220506-1020" />
			<unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317" />
			<unit id="org.mockito.junit-jupiter.source"
				version="4.8.1.v20221103-2317" />
			<unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317" />
			<unit id="org.mockito.mockito-core.source"
				version="4.8.1.v20221103-2317" />
			<unit id="org.objenesis" version="3.3.0.v20221103-2317" />
			<unit id="org.objenesis.source" version="3.3.0.v20221103-2317" />
			<unit id="org.slf4j.api" version="1.7.30.v20221112-0806" />
			<unit id="org.slf4j.api.source" version="1.7.30.v20221112-0806" />
			<unit id="org.slf4j.binding.log4j12" version="1.7.30.v20221112-0806" />
			<unit id="org.slf4j.binding.log4j12.source"
				version="1.7.30.v20221112-0806" />
			<unit id="org.tukaani.xz" version="1.9.0.v20210624-1259" />
			<unit id="org.tukaani.xz.source" version="1.9.0.v20210624-1259" />
			<unit id="com.sun.jna" version="5.12.1.v20221103-2317" />
			<unit id="com.sun.jna.source" version="5.12.1.v20221103-2317" />
			<unit id="com.sun.jna.platform" version="5.12.1.v20221103-2317" />
			<unit id="com.sun.jna.platform.source"
				version="5.12.1.v20221103-2317" />
			<unit id="javax.validation" version="1.1.0.v20221112-0806" />
			<unit id="javax.validation.source" version="1.1.0.v20221112-0806" />
			<unit id="jakarta.servlet" version="5.0.0.v20221112-0806" />
			<unit id="jakarta.servlet.source" version="5.0.0.v20221112-0806" />
			<unit id="org.apache.batik.bridge" version="1.16.0.v20221027-0840" />
			<unit id="org.apache.batik.dom" version="1.16.0.v20221027-0840" />
			<unit id="org.apache.batik.anim" version="1.16.0.v20221027-0840" />
			<unit id="org.apache.xalan" version="2.7.2.v20221112-0806" />
			<unit id="org.apache.poi.source" version="4.1.1.v20221112-0806" />
			<unit id="org.apache.poi" version="4.1.1.v20221112-0806" />
			<unit id="org.apache.poi.ooxml" version="4.1.1.v20221112-0806" />
			<unit id="org.apache.poi.ooxml.source"
				version="4.1.1.v20221112-0806" />
			<unit id="org.apache.poi.ooxml.schemas"
				version="4.1.1.v20221112-0806" />
			<unit id="org.apache.xmlbeans" version="3.1.0.v20221112-0806" />
			<unit id="org.apache.xmlbeans.source" version="3.1.0.v20221112-0806" />
			<unit id="org.apache.commons.collections4"
				version="4.4.0.v20221112-0806" />
			<unit id="org.apache.commons.collections4.source"
				version="4.4.0.v20221112-0806" />
			<unit id="org.apache.commons.math3" version="3.6.1.v20221112-0806" />
			<unit id="org.apache.commons.math3.source"
				version="3.6.1.v20221112-0806" />
			<repository
				location="https://download.eclipse.org/tools/orbit/downloads/drops/R20221123021534/repository" />
		</location>
		<location includeMode="slicer" includeAllPlatforms="true"
			includeSource="false" includeConfigurePhase="true"
			type="InstallableUnit">
			<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group"
				version="1.5.0.202211141318" />
			<unit
				id="org.eclipse.emf.edapt.runtime.feature.source.feature.group"
				version="1.5.0.202211141318" />
			<repository id="edapt-p2-repo"
				location="http://download.eclipse.org/edapt/releases/15x" />
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.aries.spifly</groupId>
					<artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
					<version>1.3.5</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.h2database</groupId>
					<artifactId>h2</artifactId>
					<version>2.1.214</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.ow2.asm</groupId>
					<artifactId>asm-analysis</artifactId>
					<version>9.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>javax.xml.bind</groupId>
					<artifactId>jaxb-api</artifactId>
					<version>2.4.0-b180830.0359</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.sun.activation</groupId>
					<artifactId>javax.activation</artifactId>
					<version>1.2.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>aopalliance</groupId>
					<artifactId>aopalliance</artifactId>
					<version>1.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.xmlgraphics</groupId>
					<artifactId>batik-dom</artifactId>
					<version>1.16</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.test.common</artifactId>
					<version>1.2.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.test.junit5</artifactId>
					<version>1.2.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.repository</artifactId>
					<version>1.1.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none"
			includeDependencyScopes="compile" includeSource="true"
			missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>biz.aQute.bnd</groupId>
					<artifactId>biz.aQute.bnd.util</artifactId>
					<version>6.4.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>biz.aQute.bnd</groupId>
					<artifactId>biz.aQute.bndlib</artifactId>
					<version>6.4.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>
