<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.emf.ecp.application.e3.application"
            name="enterpriseDomain Workplace">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="org.enterprisedomain.workplace.ModelElementOpener">
         <staticTester
               modelElement="org.eclipse.emf.ecore.EObject"
               priority="4">
         </staticTester>
         <staticTester
               modelElement="org.eclipse.emf.ecore.resource.Resource"
               priority="4">
         </staticTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>

</plugin>
