<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="provider"
         name="Domain Workspace"
         point="org.eclipse.emf.ecp.core.providers">
      <provider
            class="org.enterprisedomain.ecp.EnterpriseDomainProvider"
            description="Dynamic Generation Provider"
            icon="Integrates ECP with ClassMaker.">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.enterprisedomain.ecp.EnterpriseDomainProvider"
            class="org.enterprisedomain.ecp.EnterpriseDomainProviderAdapterFactory">
         <adapter
               type="org.eclipse.core.runtime.IProgressMonitor">
         </adapter>
         <adapter
               type="org.eclipse.emf.edit.provider.ComposeableAdapterFactory">
         </adapter>
         <adapter
               type="org.eclipse.emf.common.notify.AdapterFactory">
         </adapter>
         <adapter
               type="org.eclipse.emf.ecore.resource.ResourceSet">
         </adapter>
         <adapter
               type="org.eclipse.emf.ecp.core.ECPProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         id="org.enterprisedomain.ecp.repository.local"
         name="Local Domain Workplace"
         point="org.eclipse.emf.ecp.core.repositories">
      <repository
            provider="org.enterprisedomain.ecp.provider">
      </repository>
   </extension>

</plugin>
