<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.enterprisedomain.classmaker.customizers">
      <customizer
            class="org.enterprisedomain.classmaker.emfstore.EMFStoreWorkspaceInitCustomizer"
            rank="4"
            stage="org.enterprisedomain.classmaker.customization.stages.workspace.init">
      </customizer>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.resourceSetProvider">
      <resourceSetProvider
            class="org.enterprisedomain.classmaker.emfstore.EDClientResourceSetProvider"
            priority="4">
      </resourceSetProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.resourceSetProvider">
      <resourceSetProvider
            class="org.enterprisedomain.classmaker.emfstore.EDServerResourceSetProvider"
            priority="4">
      </resourceSetProvider>
   </extension>

</plugin>
