<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="provider"
         name="enterpriseDomain"
         point="org.eclipse.emf.ecp.ui.uiProviders">
      <uiProvider
            class="org.enterprisedomain.ecp.ui.EnterpriseDomainUIProvider"
            provider="org.enterprisedomain.ecp.provider">
      </uiProvider>
   </extension>


<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodel/EOperationInvocation.view"/>
</extension>
<extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="org.enterprisedomain.ecp.ui.StageDecorator"
         id="org.enterprisedomain.ecp.ui.stagedecorator"
         label="Stage Decorator">
   </decorator>
</extension>
</plugin>
