<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://classmaker/0.1"
            class="org.classmaker.ClassMakerPackage"
            genModel="model/ClassMaker.genmodel"/>
   </extension>
   <extension
         id="domainNature"
         name="Domain Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.classmaker.DomainProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="resourceBuilder"
         name="Model Resource Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classmaker.builders.ResourceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="generatorBuilder"
         name="Code Generation Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classmaker.builders.GeneratorBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="exportBuilder"
         name="Plug-in Export Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classmaker.builders.ExportingBuilder">
         </run></builder>
   </extension>
   <extension
         id="loadBuilder"
         name="Bundle Load Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.classmaker.builders.LoadBuilder">
         </run>
      </builder>
   </extension>

</plugin>
